<section class="wrapper flex-center">
  <article>
    <aside class="top flex-center">
      <div class="circle flex-center">
        <div class="circle-light flex-center">
          <img src="../../../assets/svgs/key.svg" alt="key icon">
        </div>
      </div>
    </aside>
    <aside class="middle">
      <h3>Forgot password?</h3>
      <p>No worries, we'll send you reset instructions.</p>
    </aside>
    <aside class="bottom">
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input type="text" [(ngModel)]="email" name="email" matInput placeholder="Enter your email" required>
      </mat-form-field>
      <button (click)="onSubmit()" mat-raised-button color="primary">Reset password</button>
      <a routerLink="/sign-in"><img src="../../../assets/svgs/arrow-left.svg" alt="arrow left"> Back to log in</a>
    </aside>
  </article>
</section>