.wrapper {
  width: 100%;
  height: 100vh;

  article {
    width: 440px;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 30px;

    .top {
      .circle {
        flex-direction: row;
        padding: 10px;
        gap: 10px;

        width: 64px;
        height: 64px;

        background: #F8F5FE;
        border-radius: 50%;

        .circle-light {
          flex-direction: row;
          padding: 10px;
          gap: 10px;

          width: 44px;
          height: 44px;

          background: #F4EBFE;
          border-radius: 50%;
        }
      }
    }

    .middle {
      text-align: center;

      h3 {
        font-weight: 600;
        font-size: 32px;
      }
      p {
        font-weight: 400;
        font-size: 18px;
        color: var(--gray-color);
      }
    }

    .bottom {
      display: grid;
      grid-template-columns: 1fr;
      row-gap: 25px;

      button {
        font-size: 18px;
        color: var(--white-color);
        background-color: var(--violet-color);
      }

      a {
        text-align: center;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: var(--gray-color);
        text-decoration: none;
      }
    }
  }
}